<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    failOnWarning="false"
    stopOnFailure="false"
    executionOrder="default"
    beStrictAboutOutputDuringTests="false"
>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="Test.php">tests/integration</directory>
        </testsuite>
        <testsuite name="all">
            <directory suffix="Test.php">tests/unit</directory>
            <directory suffix="Test.php">tests/integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">includes</directory>
            <exclude>
                <directory>vendor</directory>
                <directory>tests</directory>
                <file>includes/core/migrations/class-ltms-db-migrations.php</file>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <ini name="error_reporting" value="32767"/>
        <env name="WP_TESTS_DB_NAME"      value="wordpress_test"           force="true"/>
        <env name="WP_TESTS_DB_USER"      value="root"                     force="true"/>
        <env name="WP_TESTS_DB_PASS"      value="root"                     force="true"/>
        <env name="WP_TESTS_DB_HOST"      value="127.0.0.1"                force="true"/>
        <env name="WP_TESTS_TABLE_PREFIX" value="wptests_"                 force="false"/>
        <env name="WP_TESTS_DIR"          value="/tmp/wordpress-tests-lib" force="false"/>
        <env name="WP_CORE_DIR"           value="/tmp/wordpress"           force="false"/>
        <env name="WP_CACHE"              value="false"                    force="true"/>
        <env name="LTMS_ENVIRONMENT"      value="test"                     force="true"/>
        <env name="LTMS_COUNTRY"          value="CO"                       force="true"/>
    </php>
</phpunit>